/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    background-color: #4c0827;
    color: #e8e8e8;
    margin: 0px;
    font-family: Arial, sans-serif; 
}

body a {
    color: #e8e8e8;
}

ul p {
    color: #de95b8;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}
