body,
html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("finalp-images/AsOne_P1collage_kdenten\ copy.jpg");
    min-height: 100%;
}



.menu {
    display: none;
}

/* #home:hover {
background-color: ;
} */

/* Columns */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    width: 100% !important;
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .column {
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
    }
}